# Frontend Environment Configuration
VITE_API_URL=http://localhost:8000/api
VITE_GOOGLE_CLIENT_ID=1018775403915-nt4maepc1r3cm9ubg5s4asssv5jn1qq6.apps.googleusercontent.com
VITE_LINKEDIN_CLIENT_ID=77i68j7893faci
VITE_LINKEDIN_REDIRECT_URI=http://localhost:3000/auth/callback
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
